<div class="quizzes">

  <div
    class="is-flex"
    style="justify-content:space-between;margin-bottom:16px;"
  >

    <h1 class="title is-1">Exams</h1>
    <a href="/quiz/add" class="button is-primary is-medium">
      <i class="fa-solid fa-plus"></i>
      Add Exam
    </a>
  </div>

  {{#if information.error}}
    <div class="notification is-danger mt-1">
      {{information.error}}
    </div>
  {{/if}}

  {{#if information.success}}
    <div class="notification is-primary mt-1">
      {{information.success}}
    </div>
  {{/if}}

  {{#if quizzes.length}}
    {{#each quizzes}}
      <div class="card quiz mb-5" id="{{this.id}}">
        <header class="card-header">
          <p class="card-header-title title is-3">
            {{this.title}}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p>{{this.description}}</p>
            <p>Exam Starts On - {{this.startingDateInFormat}}</p>
            <p>Time Limit - {{this.timeLimitInFormat}}</p>
            <span
              class="tag is-primary is-bold is-size-6"
            >{{this.subject}}</span>
            <span class="tag is-primary is-bold is-size-6">Semester
              {{this.semester}}</span>
            {{#if this.isActive}}
              <span class="tag is-success is-bold is-size-6">Exam is active</span>
            {{else}}
              <span class="tag is-danger is-bold is-size-6">Exam is not active</span>
            {{/if}}
            <span
              class="tag is-black is-bold is-size-6"
            >{{this.User.name}}</span>

          </div>
        </div>
        <footer class="card-footer">
          <a
            href="/home/quiz/start/{{this.id}}"
            class="card-footer-item"
          >Preview</a>
          {{#if this.isEditable}}
            <a href="/quiz/edit/{{this.id}}" class="card-footer-item">Edit</a>
          {{else}}
          {{/if}}

        </footer>
      </div>
    {{/each}}
  {{else}}
    <h1>No Quiz Found</h1>
  {{/if}}
</div>