<h1 class="title is-2">Exams</h1>

{{#each quizzes}}
  <div class="card quiz mb-5" id="{{this.id}}">
    <header class="card-header">
      <p class="card-header-title title is-3">
        {{this.title}}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p>Exam Starts On - {{this.startingDateInFormat}}</p>
        <p>Exam Ends On - {{this.endingDateInFormat}}</p>
        <p>Time Limit - {{this.timeLimitInFormat}}</p>
        <span class="tag is-primary is-bold is-size-6">{{this.subject}}</span>
        {{#if this.isActive}}
          <span class="tag is-success is-bold is-size-6">Exam is active</span>
        {{else}}
          <span class="tag is-danger is-bold is-size-6">Exam is not active</span>
        {{/if}}
        {{#if this.examCompleted}}
          <span class="tag is-success is-bold is-size-6">Completed</span>
        {{/if}}
      </div>
    </div>
    <footer class="card-footer">
      {{#if this.examCompleted}}{{else}}
        <a
          href="/home/quiz/start/{{this.id}}"
          class="card-footer-item"
        >Start</a>
      {{/if}}
    </footer>
  </div>

{{/each}}