<div class="is-flex" style="justify-content:space-between;margin-bottom:16px;">

  <h1 class="title is-1">Registrations</h1>

</div>

{{! filtering }}
<div class="columns">

  <div class="column field">
    <label class="label">Name</label>
    <div class="control">
      <input
        value="{{name}}"
        class="input user-filter__input user-filter__input--name"
        type="text"
        placeholder="Name"
      />
    </div>
  </div>
  <div class="column field">
    <label class="label">Email</label>
    <div class="control">
      <input
        value="{{email}}"
        class="input user-filter__input user-filter__input--email"
        type="text"
        placeholder="Email"
      />
    </div>
  </div>
  <div class="column field">
    <label class="label">Semester</label>
    <div class="control">
      <input
        value="{{semester}}"
        class="input user-filter__input user-filter__input--semester"
        type="number"
        placeholder="Semester"
        max="6"
        min="1"
      />
    </div>
  </div>
  <div class="column">
    <label class="label">Filter Actions</label>
    <div class="columns is-gapless">
      <div class="column">
        <button class="button is-info user-filter__btn">Filter</button>
      </div>
      <div class="column">
        <button class="button is-danger user-filter__remove-filter-btn">Remove
          Filter</button>
      </div>
    </div>
  </div>
</div>
{{! /filtering }}

{{#if users.length}}

  <table class="table" style="width:100%;">
    <thead>
      <tr>
        <th><abbr title="Name">Name</abbr></th>
        <th><abbr title="Email">Email</abbr></th>
        <th><abbr title="Semester">Semester</abbr></th>
        <th><abbr title="Approve">Approve</abbr></th>
        <th><abbr title="Decline">Decline</abbr></th>
      </tr>
    </thead>

    <tbody>
      {{#each users}}
        <tr>
          <th>{{this.name}}</th>
          <td>
            {{this.email}}
          </td>
          <td>{{this.semester}}</td>
          <td><button
              data-id={{this.id}}
              onclick="handleApprove(this,'{{this.id}}')"
            >Approve</button></td>
          <td><button
              data-id={{this.id}}
              onclick="handleDecline(this,'{{this.id}}')"
            >Decline</button></td>

        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}
  <h1>No registration found</h1>

{{/if}}

{{!-- prettier-ignore --}}
<script>
    function handleApprove(e,id) {
         swal({
            title:"Are you sure?",
            text:"once approved it cannot be reversed",
            icon:"warning",
            buttons:true,
            dangerMode:true
        }).then(willApprove => {
            if(!willApprove) return;
            fetch(`/users/registration/approve/${id}`)
            .then((response) => {
                window.location.replace(response.url)
            })
            .catch(err => {

            });
        })
       
    }

    function handleDecline(e,id) {
     swal({
            title:"Are you sure?",
            text:"once removed it cannot be reversed",
            icon:"warning",
            buttons:true,
            dangerMode:true
        }).then(willDecline => {
            if(!willDecline) return;
            fetch(`/users/registration/decline/${id}`)
            .then((response) => {
                window.location.replace(response.url)
            })
            .catch(err => {

            });
        }) 
    }
  const filterBtn = document.querySelector(".user-filter__btn");
  const removeFilters = document.querySelector(".user-filter__remove-filter-btn");
  const email = document.querySelector(".user-filter__input--email");
  const nameInput = document.querySelector(".user-filter__input--name");
  const semester = document.querySelector(".user-filter__input--semester");

  

  removeFilters.addEventListener("click",(e) => {
    window.location.replace(window.location.origin + window.location.pathname);
  })

  filterBtn.addEventListener("click",(e) => {
    const queryParams = [];
    if(email.value) queryParams.push({label:"email",value:email.value});
    if(nameInput.value) queryParams.push({label:"name",value:nameInput.value});
    if(semester.value) queryParams.push({label:"semester",value:parseInt(semester.value)});
    let queryStr = '';
    queryParams.forEach((query) => {

      queryStr += `${query.label}=${query.value}&`;

    })
    if(!queryStr) return;
    queryStr = '?' + queryStr;

    window.location.replace(window.location.origin + window.location.pathname + queryStr);

    
  })

  



</script>